@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">Welcome to the Global Logistics Management system. This is your </p>
    hub for organizing and managing contracts.</h2>
</div>
